.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 120px;
  margin-top: 20px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

html,
body {
   margin:0;
   padding:0;
   height:100%;
}

.main {
  padding-bottom: 100px;
}

.navbar {
  background-color: #e3f2fd !important;
}

.welcomeColumn {
  text-align: center;
}

#welcomeHeader{
  margin-top: 20px;
}

.material-icons {
  font-size:14px
}

#footer {
  position:fixed;
  bottom:0;
  text-align: center;
  background-color: #DCDCDC;
  width: 100%;
  height: 50px;
  padding: 13px;
}

#jumbotron {
  margin-top: 20px;
  text-align: center;
}

#resultsCard{
  margin-top: 30px;
}

#bookDescription {
  max-lines: 2;
}

.saveBtn, .deleteBtn {
  margin-left:20px;
}